<div style="height:auto;position:relative;background-color:#FFE8E8;">
    <div style="position:absolute;width:100%;height:100%;background-color:white;opacity:0.2;"></div>
    <div class="zone">
        <div style="width:1220px;height:220px;margin:auto;padding-top:20px;">
            <div ng-show="Role.titleF">
                <div class="card" style="display:inline-block">
                    <img style="height:180px;" ng-src="../Img/Sence/{{Role.senceContent.Src}}" class="rounded">
                </div>
                <div style="display:inline-block;vertical-align:top;margin-left:30px;">
                    <span style="font-size:60px;font-weight:bold;" ng-bind-html="Role.senceContent.Name"></span>
                    <br />
                    <span style="font-size:20px;" ng-bind-html="Role.senceContent.StartDate|date:'yyyy-MM-dd HH:mm'+' ～ '"></span>
                    <span style="font-size:20px;" ng-bind-html="Role.senceContent.EndDate|date:'yyyy-MM-dd HH:mm'"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="k-body">
    <div class="zone">
        <div id="change1" data-loadstyle="loading6">
            <div class="demoBodyRight">
                <div>
                    <div class="out-box" style="width:550px;text-align:center;">
                        <div style="margin-bottom:20px;">
                            <table class="k-table" data-tabs="demo1">
                                <tbody>
                                    <tr>
                                        <td class="div-no-first">
                                            <div></div>
                                        </td>
                                        <td style="width:100px;" class="active">
                                            <div class="left" ng-click="Role.choose = 'pick'"
                                                 ng-class="{active:Role.choose == 'pick'}">抽角</div>
                                        </td>
                                        <td style="width:100px;">
                                            <div ng-click="Role.getRank()"
                                                 ng-class="{active:Role.choose == 'rank'}">排行榜</div>
                                        </td>
                                        <td class="div-no-last">
                                            <div></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="Role.choose == 'rank'">
                            <div class="k-card">
                                <div class="k-head" style="text-align:left;">
                                    <div style="width:160px;margin:auto;">
                                        歐洲人國王(前110抽)
                                    </div>
                                </div>
                                <div class="k-body" style="text-align:left;">
                                    <div style="width:160px;margin:auto;">
                                        <div>
                                            <span>　</span>姓名：{{Role.rank.type1.Name}}
                                        </div>
                                        <div>
                                            四星角：{{Role.rank.type1.Star4}}({{Role.rank.type1.Star4/(Role.rank.type1.Star2+Role.rank.type1.Star3+Role.rank.type1.Star4)*100|number:'2'}}％)
                                        </div>
                                        <div>
                                            三星角：{{Role.rank.type1.Star3}}({{Role.rank.type1.Star3/(Role.rank.type1.Star2+Role.rank.type1.Star3+Role.rank.type1.Star4)*100|number:'2'}}％)
                                        </div>
                                        <div>
                                            二星角：{{Role.rank.type1.Star2}}({{Role.rank.type1.Star2/(Role.rank.type1.Star2+Role.rank.type1.Star3+Role.rank.type1.Star4)*100|number:'2'}}％)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="k-card">
                                <div class="k-head" style="text-align:left;">
                                    <div style="width:160px;margin:auto;">
                                        非洲人酋長(前110抽)
                                    </div>
                                </div>
                                <div class="k-body" style="text-align:left;">
                                    <div style="width:160px;margin:auto;">
                                        <div>
                                            <span>　</span>
                                            姓名：{{Role.rank.type2.Name}}
                                        </div>
                                        <div>
                                            四星角：{{Role.rank.type2.Star4}}({{Role.rank.type2.Star4/(Role.rank.type2.Star2+Role.rank.type2.Star3+Role.rank.type2.Star4)*100|number:'2'}}％)
                                        </div>
                                        <div>
                                            三星角：{{Role.rank.type2.Star3}}({{Role.rank.type2.Star3/(Role.rank.type2.Star2+Role.rank.type2.Star3+Role.rank.type2.Star4)*100|number:'2'}}％)
                                        </div>
                                        <div>
                                            二星角：{{Role.rank.type2.Star2}}({{Role.rank.type2.Star2/(Role.rank.type2.Star2+Role.rank.type2.Star3+Role.rank.type2.Star4)*100|number:'2'}}％)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="k-card" style="text-align:left;">
                                <div class="k-head">
                                    <div style="width:160px;margin:auto;">
                                        最快集完角色
                                    </div>
                                </div>
                                <div class="k-body" style="text-align:left;">
                                    <div style="width:160px;margin:auto;">
                                        <div>
                                            <span>　</span>姓名：{{Role.rank.type3.Name}}
                                        </div>
                                        <div>
                                            <span>　</span>總計：{{Role.rank.type3.Star2+Role.rank.type3.Star3+Role.rank.type3.Star4}}抽
                                        </div>
                                        <div><span>　　　　</span>({{(Role.rank.type3.Star2+Role.rank.type3.Star3+Role.rank.type3.Star4)*25}}寶石)</div>
                                        <div>
                                            四星角：{{Role.rank.type3.Star4}}({{Role.rank.type3.Star4/(Role.rank.type3.Star2+Role.rank.type3.Star3+Role.rank.type3.Star4)*100|number:'2'}}%)
                                        </div>
                                        <div>
                                            三星角：{{Role.rank.type3.Star3}}({{Role.rank.type3.Star3/(Role.rank.type3.Star2+Role.rank.type3.Star3+Role.rank.type3.Star4)*100|number:'2'}}%)
                                        </div>
                                        <div>
                                            二星角：{{Role.rank.type3.Star2}}({{Role.rank.type3.Star2/(Role.rank.type3.Star2+Role.rank.type3.Star3+Role.rank.type3.Star4)*100|number:'2'}}%)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="Role.choose == 'pick'">
                            <div ng-if="!Role.senceContent.End">
                                <div class="k-card3" style="width:400px;">
                                    <div class="k-body">
                                        <div ng-show="Role.nowShow=='input'">
                                            <div ng-if="Role.subFalg">
                                                <div class="k-card">
                                                    <div class="k-head">
                                                        請輸入姓名
                                                    </div>
                                                    <div class="k-body">
                                                        <input type="text" style="width:100%" ng-model="Role.Info.Name" />
                                                        <div ng-if="false">
                                                            <button class="btn btn-primary" ng-if="Role.subFalg" ng-click="Role.pick(1)">單抽</button>
                                                        </div>
                                                    </div>
                                                    <div style="border-top:1px solid #FFDEDE;padding:5px;">
                                                        <button style="width:100%;" class="btn btn-primary" ng-click="Role.pick(10)">10+1抽</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="Role.nowShow=='10'">
                                            <div style="width:100%;">
                                                <div class="inner-role" id="role11">

                                                </div>
                                            </div>
                                            <div class="inner-role" id="role1">

                                            </div>
                                            <div class="inner-role" id="role2">

                                            </div>
                                            <div class="inner-role" id="role3">

                                            </div>
                                            <div class="inner-role" id="role4">

                                            </div>
                                            <div class="inner-role" id="role5">

                                            </div>
                                            <div class="inner-role" id="role6">

                                            </div>
                                            <div class="inner-role" id="role7">

                                            </div>
                                            <div class="inner-role" id="role8">

                                            </div>
                                            <div class="inner-role" id="role9">

                                            </div>
                                            <div class="inner-role" id="role10">

                                            </div>
                                            <div style="width:100%;height:48px;padding:5px;">
                                                <button class="btn btn-primary" style="width:100%;" ng-show="Role.subFalg" ng-click="Role.pick(10)">繼續抽</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="Role.senceContent.End">
                                <span style="font-size:46px;">本活動已結束</span>
                            </div>
                        </div>
                    </div>
                    <div class="out-Rbox" style="float:right;" ng-if="!Role.senceContent.End">
                        <div class="k-card">
                            <div class="k-body">
                                <div style="height:38px;line-height:38px;vertical-align:middle;text-align:center;">{{Role.Info.Name}}</div>
                            </div>
                            <div style="border-top:1px solid #FFDEDE;padding:5px;">
                                <button class="btn btn-primary" style="width:100%;" ng-disabled="Role.restBtn" ng-click="Role.resetPick()">重置</button>
                            </div>
                        </div>
                        <div style="margin:15px;"></div>
                        <div class="k-card">
                            <div class="k-head">
                                本次抽角統計
                            </div>
                            <div class="k-body">
                                <div>
                                    <span>　</span>總計：<span ng-bind-html="Role.star.star2+Role.star.star3+Role.star.star4"></span>抽(<span ng-bind-html="(((Role.star.star2+Role.star.star3+Role.star.star4)/11)*250)|number:'0'"></span>寶石)
                                </div>
                                <div>二星角：<span ng-bind-html="Role.star.star2"></span>(<span ng-bind-html="(Role.star.star2/(Role.star.star2+Role.star.star3+Role.star.star4))*100|number:'2'"></span>%)</div>
                                <div>三星角：<span ng-bind-html="Role.star.star3"></span>(<span ng-bind-html="(Role.star.star3/(Role.star.star2+Role.star.star3+Role.star.star4))*100|number:'2'"></span>%)</div>
                                <div>四星角：<span ng-bind-html="Role.star.star4"></span>(<span ng-bind-html="(Role.star.star4/(Role.star.star2+Role.star.star3+Role.star.star4))*100|number:'2'"></span>%)</div>
                            </div>
                        </div>
                        <div style="margin:15px;"></div>
                        <div class="k-card">
                            <div class="k-head">
                                已抽到
                            </div>
                            <div class="k-body">
                                <div ng-repeat="sceneRole in Role.sceneRole |orderBy:'Num':true" style="width:90px;display: inline-block;" ng-if="sceneRole.Num!=0">
                                    <img style="height:50px;width:50px;" ng-src="../../Img/role4/{{sceneRole.RoleID}}.png" />
                                    x{{sceneRole.Num}}
                                </div>
                            </div>
                        </div>
                        <div style="margin:15px;"></div>
                        <div class="k-card">
                            <div class="k-head">
                                未抽到
                            </div>
                            <div class="k-body" style="text-align:center;">
                                <div ng-repeat="sceneRole in Role.sceneRole" style="width:60px;display: inline-block;" ng-if="sceneRole.Num==0">
                                    <img style="height:50px;width:50px;opacity:0.5" ng-src="../../Img/role4/{{sceneRole.RoleID}}.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="demoBodyLeft">
                <div class="k-card">
                    <div class="k-head">
                        累積模擬抽角樣本數
                    </div><div class="k-body">
                        <div>
                            <span>　</span>總計：<span ng-bind-html="Role.starNum.star.starC"></span>抽
                        </div>
                        <div>
                            二星角：<span ng-bind-html="Role.starNum.star.star2"></span>次(<span ng-bind-html="(Role.starNum.star.star2/Role.starNum.star.starC*100)|number:'2'"></span>％)
                        </div>
                        <div>
                            三星角：<span ng-bind-html="Role.starNum.star.star3"></span>次(<span ng-bind-html="(Role.starNum.star.star3/Role.starNum.star.starC*100)|number:'2'"></span>％)
                        </div>
                        <div>
                            四星角：<span ng-bind-html="Role.starNum.star.star4"></span>次(<span ng-bind-html="(Role.starNum.star.star4/Role.starNum.star.starC*100)|number:'2'"></span>％)
                        </div>
                    </div>
                </div>
                <br />
                <div ng-repeat="star4 in Role.starNum.star4" class="k-card2">
                    <div class="k-body" style="text-align:center;">
                        <img style="width:50px;height:50px;" ng-src="../Img/role4/{{star4.RoleID}}.png" />
                        <span ng-bind-html="(star4.Count*100/Role.starNum.starC2)|number:'2'"></span>％
                    </div>
                    <div class="k-line"></div>
                    <div class="k-font" style="text-align:center;">
                        <span ng-bind-html="star4.Name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
