<div class="out-box">
    <div style="width:100%;">
        <div class="inner-role">
            <img id="role11_0" src="../../Img/s1.png" style="display:none" />
            <img id="role11_1" src="../../Img/s2.png" style="display:none" />
            <img id="role11_2" src="../../Img/s3.png" style="display:none" />
            <img id="role11_3" src="../../Img/s4.png" style="display:none" />
            <img id="role11_4" src="../../Img/赤石士兵s.png" style="display:none" />
        </div>
    </div>
    <div class="inner-role">
        <img id="role1_0" src="../../Img/s1.png" style="display:none" />
        <img id="role1_1" src="../../Img/s2.png" style="display:none" />
        <img id="role1_2" src="../../Img/s3.png" style="display:none" />
        <img id="role1_3" src="../../Img/s4.png" style="display:none" />
        <img id="role1_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role2_0" src="../../Img/s1.png" style="display:none" />
        <img id="role2_1" src="../../Img/s2.png" style="display:none" />
        <img id="role2_2" src="../../Img/s3.png" style="display:none" />
        <img id="role2_3" src="../../Img/s4.png" style="display:none" />
        <img id="role2_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role3_0" src="../../Img/s1.png" style="display:none" />
        <img id="role3_1" src="../../Img/s2.png" style="display:none" />
        <img id="role3_2" src="../../Img/s3.png" style="display:none" />
        <img id="role3_3" src="../../Img/s4.png" style="display:none" />
        <img id="role3_4" src="../../Img/赤石士兵s.png" style="display:none" />

    </div>
    <div class="inner-role">
        <img id="role4_0" src="../../Img/s1.png" style="display:none" />
        <img id="role4_1" src="../../Img/s2.png" style="display:none" />
        <img id="role4_2" src="../../Img/s3.png" style="display:none" />
        <img id="role4_3" src="../../Img/s4.png" style="display:none" />
        <img id="role4_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role5_0" src="../../Img/s1.png" style="display:none" />
        <img id="role5_1" src="../../Img/s2.png" style="display:none" />
        <img id="role5_2" src="../../Img/s3.png" style="display:none" />
        <img id="role5_3" src="../../Img/s4.png" style="display:none" />
        <img id="role5_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role6_0" src="../../Img/s1.png" style="display:none" />
        <img id="role6_1" src="../../Img/s2.png" style="display:none" />
        <img id="role6_2" src="../../Img/s3.png" style="display:none" />
        <img id="role6_3" src="../../Img/s4.png" style="display:none" />
        <img id="role6_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role7_0" src="../../Img/s1.png" style="display:none" />
        <img id="role7_1" src="../../Img/s2.png" style="display:none" />
        <img id="role7_2" src="../../Img/s3.png" style="display:none" />
        <img id="role7_3" src="../../Img/s4.png" style="display:none" />
        <img id="role7_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role8_0" src="../../Img/s1.png" style="display:none" />
        <img id="role8_1" src="../../Img/s2.png" style="display:none" />
        <img id="role8_2" src="../../Img/s3.png" style="display:none" />
        <img id="role8_3" src="../../Img/s4.png" style="display:none" />
        <img id="role8_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role9_0" src="../../Img/s1.png" style="display:none" />
        <img id="role9_1" src="../../Img/s2.png" style="display:none" />
        <img id="role9_2" src="../../Img/s3.png" style="display:none" />
        <img id="role9_3" src="../../Img/s4.png" style="display:none" />
        <img id="role9_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div class="inner-role">
        <img id="role10_0" src="../../Img/s1.png" style="display:none" />
        <img id="role10_1" src="../../Img/s2.png" style="display:none" />
        <img id="role10_2" src="../../Img/s3.png" style="display:none" />
        <img id="role10_3" src="../../Img/s4.png" style="display:none" />
        <img id="role10_4" src="../../Img/赤石士兵s.png" style="display:none" />
    </div>
    <div style="width:100%;">
        <button class="btn btn-primary" ng-click="Role.pick()">抽角</button>
        <button class="btn btn-primary" ng-click="Role.showRole(1)">顯示</button>
    </div>
</div>