@import "../Lib/tbkcplugin/Scss/var";

body {
    overflow-y: scroll;
}

.demoBodyRight {
    float: left;
    width: 900px;

    > ng-view > div {
        margin-bottom: 10px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 5px;
    background-color: $color_紫5;
    border-width: 1px;
    border-style: solid;
    border-color: #2c3e50;
}




.demoBodyLeft {
    float: right;
    width: 250px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        .title {
            font-size: 18px;
            font-weight: bold;
        }

        li {
            margin-right: 20px;
            width: 100%;
            margin-bottom: 10px;

            a {
                display: block;
                color: $color_黑3;
                text-decoration: none;

                &:hover {
                    color: #ffb3ff;
                    color: $color_靛5;
                    text-decoration: none;
                }
            }

            .active {
                font-weight: bold;
                color: $color_黑5;
            }
        }
    }
}

.exTopBox {
    border: 3px solid $color_黑1;
    margin-bottom: 0 !important;
    padding: 20px;
    width: 100%;
}

.exCodeBox {
    background-color: $color_黑1;
    margin-top: 0 !important;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}

.deombody {
    font-size: 20px;

    > .title {
        font-weight: bold;
    }

    > div {
        line-height: 40px;
    }

    .pad20 {
        padding-left: 39px;
    }
}

.out-box {
    display: inline-block;
    width: 400px;
    text-align: center;
    padding: 0;
}

.inner-role {
    display: inline-block;
    width: 120px;
    height: 100px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;

    img {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.out-Rbox {
    display: inline-block;
    width: 300px;
    padding: 0;
    vertical-align: top;
}

.k-card {
    border: 1px solid $color_黑2;

    .k-head {
        padding: 10px;
        background-color: #FFD4D4;
        border-bottom: 1px solid #FF8C8C;
    }

    .k-body {
        padding: 10px;
    }
}

.k-card2 {
    border: 1px solid $color_黑2;
    display: inline-block;
    width: 117px;
    padding: 0;
    margin: 3px;

    .k-body {
        padding: 3px;
    }

    .k-font {
        padding-left: 10px;
    }

    .k-line {
        border-bottom: 1px solid $color_黑2;
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

.k-card3 {
    border: 1px solid $color_黑2;
    margin: auto;

    .k-body {
        padding: 3px;
    }

    .k-font {
        padding-left: 10px;
    }

    .k-line {
        border-bottom: 1px solid $color_黑2;
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

.k-select {
    cursor: pointer;
}

.k-select:hover {
    font-weight: bold;
}

.k-table {
    padding: 0;
    margin: 0;

    tr {
        padding: 0;
        margin: 0;
    }

    td {
        padding: 0;
        margin: 0;
    }

    div {
        border: 1px solid #FFDEDE;
        border-left: 0;
        padding: 10px;
        cursor:pointer;
    }

    div:hover {
        border-top: 3px solid #940000;
        padding-top: 8px;
    }

    .left {
        border-left: 1px solid #FFDEDE;
    }

    .spanon {
        border: 0;
        border-bottom: 1px solid #FFDEDE;
        height: 46px;
    }

    .spanon:hover {
        border-top: 0;
        padding-top: 0;
    }

    .active {
        border-bottom: 0;
        border-top: 3px solid #0000DB;
        padding-top: 8px;
    }
}
