body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background: #000 url(../Img/1.jpg) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover; }

.k-hand {
  cursor: pointer; }

.demoBodyRight {
  width: 1200px; }
  .demoBodyRight > ng-view > div {
    margin-bottom: 10px; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 5px;
  background-color: #F48FB1;
  border-width: 1px;
  border-style: solid;
  border-color: #2c3e50; }

.demoBodyLeft {
  width: 250px; }
  .demoBodyLeft ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .demoBodyLeft ul .title {
      font-size: 18px;
      font-weight: bold; }
    .demoBodyLeft ul li {
      margin-right: 20px;
      width: 100%;
      margin-bottom: 10px; }
      .demoBodyLeft ul li a {
        display: block;
        color: #969696;
        text-decoration: none; }
        .demoBodyLeft ul li a:hover {
          color: #ffb3ff;
          color: #550094;
          text-decoration: none; }
      .demoBodyLeft ul li .active {
        font-weight: bold;
        color: #1C1C1C; }

.exTopBox {
  border: 3px solid #E8E8E8;
  margin-bottom: 0 !important;
  padding: 20px;
  width: 100%; }

.exCodeBox {
  background-color: #E8E8E8;
  margin-top: 0 !important;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%; }

.deombody {
  font-size: 20px; }
  .deombody > .title {
    font-weight: bold; }
  .deombody > div {
    line-height: 40px; }
  .deombody .pad20 {
    padding-left: 39px; }

.out-box {
  display: inline-block;
  width: 400px;
  text-align: center;
  padding: 0; }

.inner-role {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .inner-role img {
    width: 75px;
    height: 75px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0; }

.out-Rbox {
  display: inline-block;
  width: 300px;
  padding: 0;
  vertical-align: top; }

.k-card {
  border: 1px solid #BFBFBF; }
  .k-card .k-head {
    padding: 10px;
    background-color: #FFD4D4;
    border-bottom: 1px solid #FF8C8C; }
  .k-card .k-body {
    padding: 10px; }
  .k-card .k-footer {
    border-top: 1px solid #FF8C8C;
    background-color: #FFFF8D;
    padding: 10px; }

.k-card2 {
  border: 1px solid #BFBFBF;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%; }
  .k-card2 .k-body {
    padding: 3px; }
  .k-card2 .k-line {
    border-bottom: 1px solid #BFBFBF;
    margin-top: 1px;
    margin-bottom: 1px; }

.k-card3 {
  border: 1px solid #BFBFBF;
  margin: auto; }
  .k-card3 .k-body {
    padding: 3px; }
  .k-card3 .k-font {
    padding-left: 10px; }
  .k-card3 .k-line {
    border-bottom: 1px solid #BFBFBF;
    margin-top: 1px;
    margin-bottom: 1px; }

.k-select {
  cursor: pointer; }

.k-select:hover {
  font-weight: bold; }

.bboxx {
  border: 1px solid #F06292;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0.96;
  position: absolute; }

.k-fat {
  background-color: #263238;
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both; }
  .k-fat .zone {
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: white; }

.top-box {
  background-color: black;
  opacity: 0.65;
  position: absolute;
  top: 15px;
  left: 35px;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold; }

.container > ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .container > ul > li {
    float: left;
    margin-right: 20px; }
    .container > ul > li > a {
      display: block;
      float: left;
      color: #969696;
      text-decoration: none; }
      .container > ul > li > a:hover {
        color: #ffb3ff;
        color: #1C1C1C;
        text-decoration: none; }
    .container > ul > li > .active {
      font-weight: bold;
      color: #1C1C1C; }

.k-navbars {
  box-shadow: 0 1px 1px 1px #787878;
  position: fixed;
  z-index: 999;
  width: 100%;
  opacity: 0.95;
  height: 55px;
  background-color: white;
  line-height: 55px;
  vertical-align: middle;
  font-size: 18px; }

@media (max-width: 543px) {
  .so-sm {
    font-size: 12px; }
  .imgTo img {
    width: 65px;
    height: 65px;
    position: relative; }
  .imgTo div {
    margin-bottom: 10px; }
  .outbox {
    min-height: 490px; }
  .fh {
    height: 65px; } }

@media (min-width: 544px) and (max-width: 767px) {
  .imgTo img {
    width: 65px;
    height: 65px;
    position: relative; }
  .imgTo div {
    margin-bottom: 12px; }
  .outbox {
    min-height: 502px; }
  .fh {
    height: 65px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .top-title {
    font-size: 35px;
    font-weight: bold; }
  .top-text {
    font-size: 15px; }
  .imgTo img {
    width: 70px;
    height: 70px;
    position: relative; }
  .imgTo div {
    margin-bottom: 15px; }
  .outbox {
    min-height: 548px; }
  .fh {
    height: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .top-title {
    font-size: 50px;
    font-weight: bold; }
  .top-text {
    font-size: 18px; }
  .imgTo img {
    width: 75px;
    height: 75px;
    position: relative; }
  .imgTo div {
    margin-bottom: 15px; }
  .outbox {
    min-height: 580px; }
  .fh {
    height: 75px; } }

@media (min-width: 1200px) {
  .top-title {
    font-size: 60px;
    font-weight: bold; }
  .top-text {
    font-size: 20px; }
  .imgTo img {
    width: 75px;
    height: 75px;
    position: relative; }
  .imgTo div {
    margin-bottom: 15px; }
  .fh {
    height: 75px; }
  .outbox {
    min-height: 580px; } }

