body {
  overflow-y: scroll; }

.k-hand {
  cursor: pointer; }

.demoBodyRight {
  float: left;
  width: 900px; }
  .demoBodyRight > ng-view > div {
    margin-bottom: 10px; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 5px;
  background-color: #940094;
  border-width: 1px;
  border-style: solid;
  border-color: #2c3e50; }

.demoBodyLeft {
  float: right;
  width: 250px; }
  .demoBodyLeft ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .demoBodyLeft ul .title {
      font-size: 18px;
      font-weight: bold; }
    .demoBodyLeft ul li {
      margin-right: 20px;
      width: 100%;
      margin-bottom: 10px; }
      .demoBodyLeft ul li a {
        display: block;
        color: #969696;
        text-decoration: none; }
        .demoBodyLeft ul li a:hover {
          color: #ffb3ff;
          color: #550094;
          text-decoration: none; }
      .demoBodyLeft ul li .active {
        font-weight: bold;
        color: #1C1C1C; }

.exTopBox {
  border: 3px solid #E8E8E8;
  margin-bottom: 0 !important;
  padding: 20px;
  width: 100%; }

.exCodeBox {
  background-color: #E8E8E8;
  margin-top: 0 !important;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%; }

.deombody {
  font-size: 20px; }
  .deombody > .title {
    font-weight: bold; }
  .deombody > div {
    line-height: 40px; }
  .deombody .pad20 {
    padding-left: 39px; }

.out-box {
  display: inline-block;
  width: 400px;
  text-align: center;
  padding: 0; }

.inner-role {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  overflow: hidden; }
  .inner-role img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0; }

.out-Rbox {
  display: inline-block;
  width: 300px;
  padding: 0;
  vertical-align: top; }

.k-card {
  border: 1px solid #BFBFBF; }
  .k-card .k-head {
    padding: 10px;
    background-color: #FFD4D4;
    border-bottom: 1px solid #FF8C8C; }
  .k-card .k-body {
    padding: 10px; }
  .k-card .k-footer {
    border-top: 1px solid #FF8C8C;
    padding: 10px; }

.k-card2 {
  border: 1px solid #BFBFBF;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%; }
  .k-card2 .k-body {
    padding: 3px; }
  .k-card2 .k-line {
    border-bottom: 1px solid #BFBFBF;
    margin-top: 1px;
    margin-bottom: 1px; }

.k-card3 {
  border: 1px solid #BFBFBF;
  margin: auto; }
  .k-card3 .k-body {
    padding: 3px; }
  .k-card3 .k-font {
    padding-left: 10px; }
  .k-card3 .k-line {
    border-bottom: 1px solid #BFBFBF;
    margin-top: 1px;
    margin-bottom: 1px; }

.k-select {
  cursor: pointer; }

.k-select:hover {
  font-weight: bold; }

