<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db823292d13be1409f85a2a6bd00d88f73ConnectionString"
      connectionString="Data Source=823292d1-3be1-409f-85a2-a6bd00d88f73.sqlserver.sequelizer.com;Initial Catalog=db823292d13be1409f85a2a6bd00d88f73;Persist Security Info=True;User ID=rozsljgnpnqcnvzp;Password=QKYqyUAAKkeme7ZqaoooxBEpXGshf8qpipAPJp25gCgpscBLNwerJQmofJzYAtuL"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>