<div style="height:auto;position:relative;background-color:#FFE8E8;border-bottom:1px solid #F06292;width:100%;padding-top:15px;padding-bottom:15px;">
    <div style="position:absolute;width:100%;height:100%;background-color:white;opacity:0.2;top:0;"></div>
    <div class="container">
        <div class="col-md-5 col-sm-12">
            <div class="top-box hidden-md-up">
                台版白貓抽角模擬器
            </div>
            <img style="padding:1px;" ng-src="../Img/sence/title1.jpg" class="img-thumbnail top-img">
        </div>
        <div class="col-md-7 hidden-sm-down" style="line-height:normal;">
            <br />
            <span class="top-title">台版白貓抽角模擬器</span>
            <br />
            <span class="top-text">
                連三次限定掛零外加玩兩年有點膩惹~無限期暫停更新
            </span>
        </div>
    </div>
</div>
<div class="container" style="padding-top:20px;">
    <div class="row" style="position:relative;">
        <div class="bboxx">            
        </div>
        <div class="col-xs-12">
            <div class="row" style="padding:20px;" id="change1" data-loadstyle="loading6">
                <div class="col-xs-12">
                    <div style="font-size:33px;font-weight:bold;color:#373a3c;border-bottom:1px solid #F8BBD0;margin-bottom:15px;">
                        進行中
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 k-hand"
                     ng-repeat="sence in Index.sence" style="margin-bottom:20px;" ng-if="!sence.End && !sence.Start" ng-click="Index.chooseSence(sence.SceneID)">
                    <div class="k-card">
                        <div class="k-head" style="text-align:center;">
                            {{sence.Name}}
                        </div>
                        <div class="k-body" style="padding:0;">
                            <img style="width:100%;" ng-src="../Img/sence/{{sence.Src}}" />
                        </div>
                        <div class="k-footer" style="text-align:center;">
                            {{sence.StartDate|date:'yyyy-MM-dd HH:mm'}} ~ {{sence.EndDate|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="Index.start">
                    <div style="font-size:33px;font-weight:bold;color:#373a3c;border-bottom:1px solid #F8BBD0;margin-bottom:15px;">
                        預定上架
                    </div>
                </div>
                <div class="col-xs-12 col-md-6"
                     ng-repeat="sence in Index.sence" style="margin-bottom:20px;" ng-if="sence.Start">
                    <div class="k-card">
                        <div class="k-head" style="text-align:center;">
                            {{sence.Name}}
                        </div>
                        <div class="k-body" style="padding:0;">
                            <img style="width:100%;" ng-src="../Img/sence/{{sence.Src}}" />
                        </div>
                        <div class="k-footer" style="text-align:center;">
                            {{sence.StartDate|date:'yyyy-MM-dd HH:mm'}} ~ {{sence.EndDate|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div style="font-size:33px;font-weight:bold;color:#373a3c;border-bottom:1px solid #F8BBD0;margin-bottom:15px;">
                        已結束
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 k-hand"
                     ng-repeat="sence in Index.sence" style="margin-bottom:20px;" ng-if="sence.End" ng-click="Index.chooseSence(sence.SceneID)">
                    <div class="k-card">
                        <div class="k-head" style="text-align:center;">
                            {{sence.Name}}
                        </div>
                        <div class="k-body" style="padding:0;">
                            <img style="width:100%;" ng-src="../Img/sence/{{sence.Src}}" />
                        </div>
                        <div class="k-footer" style="text-align:center;">
                            {{sence.StartDate|date:'yyyy-MM-dd HH:mm'}} ~ {{sence.EndDate|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>